<h1> UPLOAD FILE</h1>

<input #fileUpload [accept]="'.json'" type="file" class="file-input" 
(change)="onFileSelected($event)">

<button 
(click)="fileUpload.click()"> Import file
</button> 

<p>File name: {{uploadFileName}}</p>
<p>File content: {{uploadFileContent}}</p>


<h1>SAVE FILE</h1>

<label>File name</label> <input type="text" [(ngModel)]="saveFileName"/> <br/>
<label>File content:</label> <input type="text" [(ngModel)]="saveFileContent" /> <br/> 
<label>File extension:</label> <input type="text" [(ngModel)]="saveFileExtension" /> <br/> 

<button 
(click)="onSaveFile()"> Save file
</button> 


