<h1> UPLOAD FILE</h1>

<input #fileUpload [accept]="'.json'" type="file" class="file-input" 
(change)="onFileSelected($event)">

<button 
(click)="fileUpload.click()"> Import file
</button> 

<p>File name: {{uploadFileName}}</p>
<p>File content: {{uploadFileContent}}</p>


<h1>SAVE FILE</h1>

<input type="text" [(ngModel)]="saveFileName" placeholder="file name" /> 
<input type="text" [(ngModel)]="saveFileContent" placeholder="file content" /> 
<input type="text" [(ngModel)]="saveFileExtension" placeholder="file extension" /> 

<button 
(click)="onSaveFile()"> Save file
</button> 


